{%extends "base.html" %}
{% block title %}My blog - Create article{% endblock %}


{% block content %}
    <h2>Create article<h2>
    <p style="color:red">{{ error }}</p>
    <form method="post" action="/publish/">
        {% csrf_token %}
        <input type="text" name="secret" placeholder="Secret Key" />
        <br>
        <input type="text" name="name" placeholder="Name" />
        <br>
        <textarea name="text" placeholder="Content" ></textarea>
        <br>
        <input type="submit" value="Publish" />
    </form>
{% endblock %}